html {
  font-size: 10px;
  box-sizing: border-box;
}
body,
#root {
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: orange;
}
.App {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}
header,
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
}
header {
  grid-area: header;
  padding: 0.5rem;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  justify-content: center;
}
